{% extends "bootstrap/base.html" %}
{% block title %}Tank Health App{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">

</div>
{% endblock %}

{% block content %}
<style>
        #donutchart,
        #chart,#ph,#water,#Salinity  {
          width: 300px;
          height: 300px;
          font-family: Arial;
        }
        
        #donutchart {
            position: relative;
        }
        
        #labelOverlay {
            width: 90px;
            height: 45px;
            position: absolute;
            top: 130px;
            left: 120px;
            text-align: center;
            cursor: default;
        }
        
        #labelOverlay p {
          line-height: 0.3;
          padding:1px;
          margin: 4px;
        }
        
        #labelOverlay p.used-size {
          line-height: 0.5;
          font-size: 20pt;
          color: #8e8e8e;
        }
        
        #labelOverlay p.total-size {
          line-height: 0.5;
          font-size: 12pt;
          color: #cdcdcd;
        }
        #h3{
            float: right;
        }
        </style>
        <h2>Tank Health App</h1>
        <h3>{{ name }}</h3>
        <div class="container">
                <div class="row">
        <div id="donutchart" class="col-xs-10 col-sm-3 col-md-3">
                <div id="ph"></div>
                <div id="labelOverlay">
                  <p class="used-size">pH</span></p>
                  <p class="total-size"></p>
                </div>
        </div>
        <div id="donutchart" class="col-xs-10 col-sm-3 col-md-3">
                <div id="Salinity"></div>
                <div id="labelOverlay">
                  <p class="used-size">Salinity</span></p>
                  <p class="total-size"> Bad</p>
                </div>
        </div>
        <div id="donutchart" class="col-xs-10 col-sm-3 col-md-3">
                <div id="water"></div>
                <div id="labelOverlay">
                  <p class="used-size">Water</span></p>
                  <p class="total-size"> Bad</p>
                </div>
        </div></div></div>

        <table style="width:100%">
                <tr>
                    <th>TANK ID</th>
                    <th>% Full</th>
                    <th>Location</th> 
                    <th>pH</th> 
                    <th>Salinity</th>
                </tr>
                <tr>
                        <th>AVG</th>
                        <th>{{avgWater}}</th>
                        <th>-------</th> 
                        <th>{{avgPH}}</th> 
                        <th>{{avgSalinity}}</th>
                </tr>
            {% for tank in tanksTable %}
                <tr>
                    <th><a href='tank/{{ tank["id"] }}'>{{ tank["tankNumber"] }}</a></th>
                    <th>{{ tank["water"] }}</th>
                    <th>{{ tank["location"] }}</th>
                    <th>{{ tank["ph"] }}</th>
                    <th>{{ tank["salinity"] }}</th>
                </tr>
            {% endfor %}
            </table>
        <div>
         <table id="table"  data-show-header="true" data-pagination="true"
                data-id-field="name"
                data-page-list="[5, 10, 25, 50, 100, ALL]"
                data-page-size="5">
         <thead>
            <tr>
             <th data-field="id" >Tank ID</th>
             <th data-field="Water" >Water</th>
             <th data-field="Location" >Location</th>
             <th data-field="ph">PH</th>
             <th data-field="salinity">Salinity</th>
            </tr>
         </thead>
       <tbody>
         </tbody>
     </table>
        </div>
        <a href='logout'>Logout</a>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var chart = new google.visualization
                    .PieChart(document.getElementById('ph'));  
            chart.draw(getData({{avgPH}}), options({{avgPH}}));
            chart = new google.visualization
                    .PieChart(document.getElementById('Salinity'));  
            chart.draw(getData({{avgSalinity}}), options({{avgSalinity}}));
            chart = new google.visualization
                    .PieChart(document.getElementById('water'));  
            chart.draw(getData({{avgWater}}), options({{avgWater}}));

        }
        function colr(val){
            if (val <= 40){
                return 'Green';
            } 
            else if (val <= 60 )
                return 'Yellow';
            else if (val <= 80)
                return 'Orange'
            else 
                return 'Red'
            
        }
        
        function getData(val){
            var data = google.visualization.arrayToDataTable([
                ['Content', 'Size'],
                ['',    val],
                ['',     100-val],
            ]);
            return data
        }

        function options(val){

            var option = {
                title: "",
                pieHole: 0.7,
                pieSliceBorderColor: "none",
             colors: ['#067ab5', '#3aa5dd', '#eaeaea' ],
                legend: {
                    position: "none"	
                },
                pieSliceText: "none",
                tooltip: {
                    trigger: "none"
                },
                slices: {
                    0: { color: colr(val) },
                    1: { color:  '#cdcdcd'}
                  }
            };
            return option;
        }
        function test(){
            var tbldata = {{ tanksTable  | tojson }};
            return tbldata;
        }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script>
        console.log( {{ tanksTable  | tojson }} );
        var data2 = {{ tanksTable  | tojson }};
        $(document).ready(function() {
    $('#table').DataTable( {
        "pagingType": "full_numbers",
        "data":data2
    } );
} );
        </script>
{% endblock %}


